.field {
   padding: 30px 20px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 40%;
   border: 1px solid #ffe69a;
   border-radius: 5px;
   box-shadow: 2px 0px 13px rgba(0, 0, 0, 0.1);
}
.field--info {
   display: flex;
   flex-direction: column;
   gap: 5px;
}
.field--label {
   font-size: 13px;
}
.field--input {
   height: 25px;
   border: none;
   border-bottom: 1px solid rgb(75, 75, 75);
}
.field--input:focus {
   outline: none;
}
.field--button {
   background-color: #ffd24c;
   border-radius: 10px;
   padding: 10px 15px;
   border: none;
   box-shadow: 2px 0px 15px rgba(0, 0, 0, 0.1);
}

@media (max-width: 800px) {
   .field {
      display: flex;
      flex-direction: column;
      gap: 30px;
      width: 90%;
   }
}
