.field {
   padding: 20px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 40%;
   background-color: #ffe69a;
   border-radius: 15px;
}
.field--info {
   display: flex;
   flex-direction: column;
   gap: 5px;
}
.field--label {
   font-size: 18px;
   font-weight: 600;
}
.field--input {
   height: 25px;
   border-radius: 10px;
   padding-left: 10px;
   border: 1px solid rgb(75, 75, 75);
}
.field--input:focus {
   outline: none;
}
.field--button {
   background-color: #ffd24c;
   border-radius: 10px;
   padding: 10px 15px;
   border: none;
   box-shadow: 2px 0px 15px rgba(0, 0, 0, 0.1);
}
